<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> <?php echo $issues ?></p>
	</br>
	<a href="/await">await</a>
  </body>
</html>